<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9ac02ce5-9eac-4665-95e2-4335dc032041/resourceGroups/payloola_app/providers/Microsoft.ContainerRegistry/registries/payloolacontreg</ResourceId>
    <ResourceName>payloolacontreg</ResourceName>
    <ResourceGroup>payloola_app</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://payloolacontreg.azurecr.io/</RegistryUrl>
    <UserName>payloolacontreg</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e608214a-8b74-42cd-9e55-5911390d1f45</ProjectGuid>
  </PropertyGroup>
</Project>